.deck {
  animation: deck-balance infinite 10s ease-in-out ;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  flex-wrap: wrap;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  padding-top: 5em;
  padding-bottom: 30em;
  font-size: 1em;
}

.deck::-webkit-scrollbar {
  display: none;
}

.deck .player {
  margin: 0 2vw;
}

.deck .hand {
  animation: card-balance infinite 6s ease-in-out ;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  font-size: 1.4em;
}

.deck .hand .card {
  margin: 0 -.7em;
}

/*
.deck .hand .card:nth-child(1) {
  transform: rotate(-10deg);
}

.deck .hand .card:nth-child(2) {
  transform: rotate(-8deg);
}
*/

@keyframes deck-balance {
  from {
    transform: rotate(0deg);
    transform: translateY(0);
  }
  50% {
    transform: rotate(-3deg);
    transform: translateY(-10px);
  }
  to {
    transform: rotate(0);
    transform: translateY(0);
  }
}

@keyframes card-balance {
  from {
    transform: rotate(0deg);
    transform: translateY(0);
  }
  50% {
    transform: rotate(3deg);
    transform: translateY(-10px);
  }
  to {
    transform: rotate(0);
    transform: translateY(0);
  }
}
